button.read-more-button.components-button {
	display: block;
	width: 100%;
	height: auto;
	margin: 4px 0;
	background-color: #007cba;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
		color: #fff;
	}

	&.post-selected {
		background-color: #e0f7fa;
		border: 1px solid #00bcd4;
		color: #007cba;
	}
}